
.header {
    text-align: center;
}

h2 {
    font-size: 22pt;
    padding-left: 100px;
    padding-top: 50px;
}
.container {
    height: 600px;
    width: 90%;
    border: 1px solid black;
    margin-left: 60px;
}

hr {
    width: 90%;
}
textarea {
    width: 75%;
    height: 35%;
    margin-left: 155px;
    border-style: dashed;
    text-align: center;
    padding: 20px;
}

#generate {
    margin-left: 100px;
    background-color: red;
    color:white;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;
}

#copy {
    background-color: gray;
    color: white;
    font-size: 16px;
    padding: 14px 40px;
    float: right;
    margin-right: 100px;
    border-radius: 8px;
}

.header {
    text-align: center;
}

h2 {
    font-size: 22pt;
    padding-left: 100px;
    padding-top: 50px;
}
.container {
    height: 600px;
    width: 90%;
    border: 1px solid black;
    margin-left: 60px;
}

hr {
    width: 90%;
}
textarea {
    width: 75%;
    height: 35%;
    margin-left: 155px;
    border-style: dashed;
    text-align: center;
    padding: 20px;
}

#generate {
    margin-left: 100px;
    background-color: red;
    color:white;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;
}

#copy {
    background-color: gray;
    color: white;
    font-size: 16px;
    padding: 14px 40px;
    float: right;
    margin-right: 100px;
    border-radius: 8px;
}

